.App {
  padding-top: 75px;
  background-color: #afd4c0;
  width: 100%;
  min-height: 100vh;

  display: flex;

  justify-content: center;
}
.Header {
  width: 100%;
  height: 75px;
  background-color: #519872;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.Wiz {
  width: 50vw;
  background-color: #e5f4ec;
  position: relative;
}
.Dash {
  width: 50vw;
  background-color: #e5f4ec;
}